.main-div
  .viz-area
    = render partial: "layouts/floor_plan.svg"
  .sidebar
    .side-bar-content
      %h4{style: "color:white;"} Filter Data
      / .top-tabs
      /   .single-tab.left-tab.active Data
      /   .single-tab.right-tab= link_to "Permission", permissions_path
      /   .single-tab.right-tab= link_to "Reference List", new_reference_list_path
      .description
        .hint{style: "color:white;"} * Click on any of the table to edit its data.

= javascript_include_tag "viewbox.js"
:javascript
  var used_seats = #{@used_seats},
    selected_seats = #{@selected_seats},
    url_hex = "#{@url_hex}";

  $(".spade-cms-table-no-highlight").attr("opacity", 0.1);
  $(".connection").attr("opacity", 0.3);

  $(document).ready(function () {

    markUsedSeats(selected_seats);
    disableOnLoad(used_seats);

    $(".spade-cms-table").on('click', function () {
      var elem = $(this),
        g = elem.parent("g"),
        seat_id = g.attr("id");
        window.location.href = base_path + "/manage-data/" + url_hex + "/" + seat_id + "/edit";
    });
  });